
* {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.calcGrid {
  display: grid;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: [row];
  column-gap: 5%;
  height: 400px;
  width: 400px;
  row-gap: 5%;
}

.calcGrid .button {
  height: 100%;
  width: 100%;
  font-size: 25px;
  background-color: darkgrey;
  border-radius: 1000px;
  border: 2px solid black;
}

.calcGrid .button.span-2 {
  grid-column: 1 / span 2;
}

.calcGrid .button.functionButton {
  background-color: gold;
}

.calcGrid .button.numberButton {
  background-color: darkgrey;
}

.calcGrid .button.specialButton {
  background-color: lightgrey;
}

.latestCalculations {
  padding: 22px;
}
